.margenes{
    margin-top: 50px;
    margin-left:35% ;
    margin-right: 35%;
}

.input{
    width: 300px;
}

.Boton{
    margin-top: 2%;
    width: 365px;
}

.marginInput{
    margin-left: 3%;
}

div{
    margin-top: 1%;
}